.radius {
    width: 1113.377px;
    height: 1113.377px;
    flex-shrink: 0;
    border-radius: 1113.377px;
    border: 1.003px solid transparent; /* Border kalınlığı */
    margin-left: 17px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* %0-%10 arası tam şeffaf */
        rgba(255, 255, 255, 0) 10%, /* %10'da tam şeffaf */
        rgba(255, 255, 255, 1) 20% /* %10-%20 arasında yumuşak geçiş */
    );
    mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff); /* Mask */
    -webkit-mask-composite: xor; /* Tarayıcı uyumluluğu için */
    mask-composite: exclude; /* Sadece border'ı göster */
    pointer-events: none; /* Tıklama olaylarını engelle */
}

.radius2 {
    width: 890.717px;
    height: 890.717px;
    flex-shrink: 0;
    border-radius: 890.717px;
    border: 1.224px solid transparent; /* Border kalınlığı */
    margin-left: 17px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%, /* %0-%10 arası tam şeffaf */
        rgba(255, 255, 255, 0) 10%, /* %10'da tam şeffaf */
        rgba(255, 255, 255, 1) 15% /* %10-%20 arasında yumuşak geçiş */
    );
    mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff); /* Mask */
    -webkit-mask-composite: xor; /* Tarayıcı uyumluluğu için */
    mask-composite: exclude; /* Sadece border'ı göster */
    pointer-events: none; /* Tıklama olaylarını engelle */
    position:absolute;
    top: 133px;
    left: 137px;
}